img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  border: 1px solid #00b8e6;
  padding: 20px;
  margin-left: 15px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

form {
  margin-top: 50px;
}

form > input {
  margin: 10px 0 10px;
}

.cart {
  margin-top: 50px;
}

.form-info {
  width: 50%;
  margin: 50px auto;
}

.cart-total {
  text-align: center;
  font-size: large;
  margin-bottom: 50px;
}

.myCartForm {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
}

.p-error {
  display: none;
  color: red;
  margin: 0;
  font-size: small;
}
