.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.product-item-card{

   flex-basis: 22%;
}



.cart-image {
  width: 50px;
}

.fix-me {
  position: fixed;
  top: 75px;
  right: 10px;
}


.list-container{
  margin-top: 5rem;
}
