<div class="sticky-top">
  <div class=" total-num-cart ">
    <!-- <img class="cart-image" src="assets/images/cart.png" alt=""> -->
    <!-- <i class="fas fa-shopping-cart"></i> -->
    <i class="fa-solid fa-cart-shopping"></i>
    <!-- <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i> -->
     <!-- <strong> {{ productsTotalInCart }}</strong> -->
     <strong> {{ cartService.numberOfItemsinTheCart }}</strong>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="product-container">
      <app-product-item
        class=""
        *ngFor="let prod of products"
        [product]="prod"
        (cartTotalAmountEvent)="incrementNumberOfProductsinCart($event)"
      ></app-product-item>
    </div>
  </div>
</div>
