.pp-header {
  background: #33b5e5;
  text-align: center;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10%;
  padding: 0.3rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
  background: #33b5e5;
  width: 100%;

}

a {
  color: #ffffff;
  font-weight: bold;
  /* margin: 0 20px 0 20px; */
}

.myStore-header {
  background: #33b5e5;
  color: #ffffff;
  position: relative;
}

h2.mystore-title {
  text-align: center !important;
}
