.pp-header {
  background: #33b5e5;
  text-align: center;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10%;
  padding: 0.6rem 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;
  background: #33b5e5;
  width: 100%;
  box-shadow: 0 0 25px 0 black;

  font-size: 1.2rem;


}

a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  /* margin: 0 20px 0 20px; */
}

.myStore-header {
  background: #33b5e5;
  color: #ffffff;
  position: relative;
}

h2.mystore-title {
  text-align: center !important;
}
