<!-- <p>product-item-detail works!</p> -->
<!-- <p>{{ itemId }}</p> -->

<div *ngFor="let product of products">
  <div *ngIf="product.id == itemId" class="detail-container">
    <img src="{{ product.url }}" alt="" />
    <div class="detail-item">
      <p>
        <strong>{{ product.name }}</strong>
      </p>
      <p>
        ${{ product.price }}
      </p>
      <p>
        {{ product.description }}
      </p>
      <!-- <app-add-to-cart></app-add-to-cart> -->
      <div>
        <select
          name="countProducts"
          id="countProducts"
          class="form-control form-select"
          id="exampleFormControlSelect1"
        >
        <option *ngFor="let op of [1,2,3,4,5,6,7,8,9,10]">{{op}}</option>

        </select>
        <br />
        <button
          class="btn-width btn btn-primary">
          Add to cart
        </button>
      </div>


      <div class="back-link"><a  routerLink="/"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg></span> Back to product list</a></div>

    </div>
  </div>
</div>
